#testimonial-carousel .carousel{   
    position: relative;
    max-width: 50%;
    margin: auto;
    overflow: hidden;
}

#testimonial-carousel .carousel-inner{
    display: flex;
    transition: transform 0.5s ease-in-out;;
}
#testimonial-carousel .slide{
    width: 40vw;
    height: 20vh;
    background-size: cover; /* remplir l'image dans l'espace disponible*/
    background-position: center;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}
   
#testimonial-carousel .slide h5{
    color: #074d1f;
    font-size: 1.3rem;
    padding-top: 1rem;
    text-transform: capitalize;
}

#testimonial-carousel .slide p{
    padding: 1rem;
}

button.prev,
button.next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    font-size: 24px;
    background-color: #E8DEC5;
    color: black;
}

.prev{
    left: 1rem;
}

.next{
    right: 1rem;
}

.prev:hover,
.next:hover{
    background-color: #074D1F;
    color: #E8DEC5;
}

#testimonial-carousel button{
    display: block;
    margin: 0 auto;
}

